:root {
  --clr-dark-desaturated-blue: hsl(238, 29%, 16%);
  --clr-soft-red: hsl(14, 88%, 65%);
  --clr-soft-violet: hsl(273, 75%, 66%);
  --clr-soft-blue: hsl(240, 73%, 65%);
  --clr-dark-grayish-blue: hsl(240, 6%, 50%);
  --clr-light-grayish-blue: hsl(240, 5%, 91%);
}

p {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background: linear-gradient(to bottom,var(--clr-soft-violet),var(--clr-soft-blue));
  background-color: var(--clr-soft-blue);
  color: var(--clr-dark-desaturated-blue);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 700px;
  height: 350px;
  border-radius: 22px;
  box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.1);;
}

.women-box-pattern {
  width: 45%;
  height: 100%;
  position: relative;
  margin: auto auto;
}

.wrapper {
  position: relative;
  width: 300px;
  height: 100%;
  overflow: hidden;
}

.women {
  height: 60%;
  width: 300px;
  position: absolute;
  top: 22%;
  left: -52px;
  z-index: 10;
}

.pattern {
  width: 700px;
  height: 700px;
  position: absolute;
  top: -62%;
  z-index: 10;
  left: -427px;
}

.box {
  width: 120px;
  position: absolute;
  z-index: 100;
  top: 44%;
  left: -60px;
  transition: left 1s;
}

.active {
  left: -80px;
}

.faq {
  width: 400px;
  padding: 20px;
  z-index: 999;
}

.inside-faq {
  width: 300px;
}

.que {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.que:hover {
  color: var(--clr-soft-red);
}

.ans {
  margin-top: 10px;
  color: var(--clr-dark-grayish-blue);
}

.arw {
  margin-right: -10px;
}

.none {
  display: none;
}

h1{
  margin-bottom: 30px;
}

.b{
  font-weight: bold;
}

.invert {
  transform: scaleY(-1);
}

span {
  margin-right: 20px;
}

hr {
  width: 100%;
  color:  var(--clr-light-grayish-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media (max-width:480px) {

  .faq-container {
    flex-direction: column;
    width: 300px;
    height: 400px;
    overflow: visible;
    margin-top: 20%;
  }

  .women-box-pattern {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .wrapper {
    overflow: visible;
    justify-content: center;
  }

  .women {
    width: 200px;
    height: 150px;
    top: -225%;
    left: 45px;
  }

  .pattern {
    width: 200px;
    height: 200px;
    left: 45px;
    top: -300%;
  }

  .box {
    width: 80px;
    top: -82%;
    left: 42px;
  }

  .active {
    left: 20px;
  }

  .faq {
    width: 258px;
    height: 300px;
    margin-top: 0;
    padding-top: 0;

  }

  .inside-faq {
    width: 250px;
  }

  h1 {
    text-align: center;
  }

}
