h1,p {
  font-family: outfit;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 19px;
  padding: 16px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.15);
}
.qr-img {
  max-width: 100%;
  border-radius: 10px;
}
h1 {
  width: 200px;
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 10px;
}
.p2 {
  width: 210px;
  color: gray;
  font-size: 12px;
  text-align: center;
  margin-top: 0px;
  margin-left: 0px;
}

.sr-only {
  position: absolute ;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}